/* Tour List Section */
.tour-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.tour-list article {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.tour-list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.tour-list h3 {
    font-size: 1.5rem;
    margin: 10px;
}

.tour-list p {
    margin: 10px;
    line-height: 1.5;
}

.tour-list .btn {
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tour-list .btn:hover {
    background-color: #0069d9;
}

/* Footer */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

body {
    background: url("C:/Users/Omar Galal/Desktop/New/bg.jpg");
    background-size: cover;
}



.hi3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.f1 {
    background-color: rgb(139, 172, 199);
}

nav {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li:hover a {
    color: #f1f1f1;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    z-index: 9999;
}

.dropdown-menu li {
    display: block;
    margin: 0;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 20px;
    display: block;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}